body {
    background-color: rgba(66, 55, 61, 0.8);
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    background-color: rgba(66, 55, 61, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

h2,
p {
    display: flex;
    justify-content: center;
}
